.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%, 100%;
    gap: 4px;
}
.box{
    grid-column: span 3;
    background-color: whitesmoke;
    margin-top: 20px;

}
.side-box{
    grid-column: span 1;
}
.login{
    text-align: center;
}
h1{
    text-align: center;
}
h3{
    margin-top: 50px;
}
.login{
    width: 50%;
    margin-left: 25%;
}
.first{
    padding: 10px;
}
